body {
    font-family: Verdana;
    background-color: #666;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
  }
  .container {
    text-align: center;
    font-size: 18px;
    padding: 15px;
    background-color: cadetblue;
    border-radius: 7px;
  }
  #firstNum, #secondNum {
    padding: 10px;
    width: 30%;
    font-size: 18px;
    background-color: #bdf;
    border: none;
    border-radius: 7px;
  }
  h1 {
    text-align: center;
    font-size: 34px;
  }
  button {
    padding: 8px;
    margin-top: 3%;
    display: block;
    font-size: 18px;
    width: 20%;
    background-color: #bdf;
    border: none;
    border-radius: 7px;
  }
  select {
    padding: 8px;
    font-size: 18px;
    background-color: #bdf;
    border: none;
    border-radius: 7px;
  }
  #firstNum:hover, #secondNum:hover {
    background-color: #9bd;
  }
  button:hover {
    background-color: #9bd;
  }
  select:hover {
    background-color: #9bd;
  }